In [462]:
from alpha_vantage.timeseries import TimeSeries
import matplotlib.pyplot as plt
plt.style.use()
import sklearn as skl
from sklearn import preprocessing
import numpy as np
import tensorflow as tf
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense, LSTM

In [463]:
ts = TimeSeries(key='AJH8MF4OQ465LD6H',output_format='pandas')
data, meta_data = ts.get_daily(symbol='INX', outputsize='full')

In [464]:
data

              1. open    2. high     3. low   4. close     5. volume
date
2020-03-13  2569.9900  2711.3301  2492.3701  2711.0200  8.258670e+09
2020-03-12  2630.8601  2660.9500  2478.8601  2480.6399  8.829380e+09
2020-03-11  2825.6001  2825.6001  2707.2200  2741.3799  7.374110e+09
2020-03-10  2813.4800  2882.5901  2734.0000  2882.2300  7.635960e+09
2020-03-09  2863.8899  2863.8899  2734.4299  2746.5601  8.423050e+09
...               ...        ...        ...        ...           ...
2000-01-07  1403.4500  1441.4700  1400.7300  1441.4700  1.225200e+09
2000-01-06  1402.1100  1411.9000  1392.1000  1403.4500  1.092300e+09
2000-01-05  1399.4200  1413.2700  1377.6801  1402.1100  1.085500e+09
2000-01-04  1455.2200  1455.2200  1397.4301  1399.4200  1.009000e+09
2000-01-03  1469.2500  1478.0000  1438.3600  1455.2200  9.318000e+08

[5081 rows x 5 columns]

In [465]:
#Create Dataframe with only open values
data= data.filter(['1. open'])

#convert the data to numpy array
dataset = data.values

#Get number of rows to train model

training_data_len = int(len(dataset) * 0.8)
training_data_len

4064

In [466]:
# Normalize the data
scaler = preprocessing.MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(dataset)
scaled_data

array([[0.69995965],
       [0.72249436],
       [0.79458905],
       ...,
       [0.26660299],
       [0.28726071],
       [0.29245475]])

In [473]:
#create the training data set
#create the scaled training data
train_data = scaled_data[0:training_data_len,:]

#split data into x and y train

X_train = []
y_train = []


 # Create X parameter for the past 100 prices, y will be the output for the 60 values in corresponding X
for i in range(100, len(train_data)):
    X_train.append(train_data[i-100: i,0])
    y_train.append(train_data[i,0])

[0.9271352413953953]
[array([0.69995965, 0.72249436, 0.79458905, 0.79010207, 0.80876431,
       0.84219801, 0.88717852, 0.87609073, 0.89486408, 0.84963183,
       0.82838914, 0.88230656, 0.91094596, 0.94761155, 0.95452345,
       0.99261431, 1.        , 0.99997775, 0.9957759 , 0.99912264,
       0.99461341, 0.99631641, 0.99460238, 0.97698405, 0.98337387,
       0.9868464 , 0.9794385 , 0.96303828, 0.94639726, 0.96367504,
       0.95409397, 0.9663146 , 0.95368677, 0.95065468, 0.9824706 ,
       0.97605482, 0.98133031, 0.97800213, 0.97897574, 0.97131613,
       0.96365279, 0.96479307, 0.95952861, 0.96348253, 0.95764058,
       0.94748205, 0.94869264, 0.9396928 , 0.94295439, 0.94973286,
       0.93881537, 0.94803737, 0.95068063, 0.94326533, 0.94261746,
       0.94283958, 0.94183265, 0.93035244, 0.93142231, 0.93149261])]

In [474]:
# convert training data to numpy arrays for LSTM mode
X_train, y_train = np.array(X_train), np.array(y_train)

In [481]:
# reshape into 3D from 2D for LSTM model
X_train =np.reshape(X_train, (X_train.shape[0],X_train.shape[1],1))
X_train.shape

(4004, 60, 1)

In [483]:
#Build LSTM Model

model = Sequential


model.add(LSTM(100,return_sequence=True, input_shape = (X_train.shape[1],1)))

model.add(LSTM(50, return_sequences = False))

model.add(Dense(25))

model.add(Dense(1))

NameError: name 'Sequential' is not defined